DJANGO_SETTINGS_MODULE=core.settings.local
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=events_aggregator
DB_USER=events_aggregator
DB_PASSWORD=events_aggregator
DB_HOST=localhost
DB_PORT=5433

EVENTS_PROVIDER_BASE_URL=http://events-provider.dev-2.python-labs.ru
EVENTS_PROVIDER_API_KEY=change-me

CELERY_BROKER_URL=sqla+postgresql://events_aggregator:events_aggregator@localhost:5432/events_aggregator
